
SteamAccountManager/obj/Debug/SteamAccountManager.csproj.FileListAbsolute.txt
SteamAccountManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SteamAccountManager/obj/Debug/DesignTimeResolveAssemblyReferences.cache
SteamAccountManager/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
SteamAccountManager/.vs/SteamAccountManager/v16/.suo
obj/Debug/SteamAccountManager.csproj.FileListAbsolute.txt
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
.vs/SteamAccountManager/v16/.suo
*.exe
*.pdb
*.cache
src/obj/Debug/SteamAccountManager.Properties.Resources.resources
src/obj/Debug/SteamAccountManager.NightFyre_Frameworks.resources
src/obj/Debug/SteamAccountManager.csproj.FileListAbsolute.txt
src/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
src/bin/Debug/SteamAccountManager.exe.config
src/bin/Debug/Database.txt
src/.vs/SteamAccountManager/v16/.suo
